<p id="notice"><%= notice %></p>

<% provide(:title, 'Home') %>

<h1>Welcome to the HeatWave</h1>

<% if !user_signed_in? && !admin_signed_in?%>
	<h2> Don't have an account? </h2>
  <%= link_to "Sign up now!", new_user_registration_path %>  
<% end %>

<% if user_signed_in? %>
	<h2>If you want to receive heat wave warning messages,</h2>
	<h2>You have to answer the questionaire below:</h2>
  <h2><%= link_to "My Attributes", user_advices_path %></h2>
<% end %>

