<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Sent:</strong>
  <%= @message.sent %>
</p>

<p>
  <strong>Time sent:</strong>
  <%= @message.time_sent %>
</p>

<p>
  <strong>User:</strong>
  <%= @message.user.email %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
