<%= form_for(@user_advice) do |f| %>
  <% if @user_advice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_advice.errors.count, "error") %> prohibited this user_advice from being saved:</h2>

      <ul>
      <% @user_advice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.collection_radio_buttons(:value, @user_advice.advice.choices, :content, :content,{checked: @user_advice.value}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
