<p id="notice"><%= notice %></p>

<h1>Listing User Advices</h1>

<table>
  <thead>
    <tr>
      <th>Advice</th>
      <th>Value</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_advices.each do |user_advice| %>
      <tr>
        <td><%= user_advice.advice.question %></td>
        <td><%= user_advice.value %></td>
        <td><%= link_to 'Change Value', edit_user_advice_path(user_advice) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

