<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @user_advice.value %>
</p>

<%= link_to 'Edit', edit_user_advice_path(@user_advice) %> |
<%= link_to 'Back', user_advices_path %>
