<%= form_for(@station) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% @station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  * indicates required fields
</p>

  <div class="field">
    <%= f.label :name %>*<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :station_bom_id %>*<br>
    <%= f.text_field :station_bom_id %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :ave_max_jan %>*<br>
    <%= f.text_field :ave_max_jan %>
  </div>
  <div class="field">
    <%= f.label :ave_min_jan %>*<br>
    <%= f.text_field :ave_min_jan %>
  </div>
  <div class="field">
    <%= f.label :ave_max_feb %>*<br>
    <%= f.text_field :ave_max_feb %>
  </div>
  <div class="field">
    <%= f.label :ave_min_feb %>*<br>
    <%= f.text_field :ave_min_feb %>
  </div>
  <div class="field">
    <%= f.label :ave_max_mar %>*<br>
    <%= f.text_field :ave_max_mar %>
  </div>
  <div class="field">
    <%= f.label :ave_min_mar %>*<br>
    <%= f.text_field :ave_min_mar %>
  </div>
  <div class="field">
    <%= f.label :ave_max_apr %>*<br>
    <%= f.text_field :ave_max_apr %>
  </div>
  <div class="field">
    <%= f.label :ave_min_apr %>*<br>
    <%= f.text_field :ave_min_apr %>
  </div>
  <div class="field">
    <%= f.label :ave_max_may %>*<br>
    <%= f.text_field :ave_max_may %>
  </div>
  <div class="field">
    <%= f.label :ave_min_may %>*<br>
    <%= f.text_field :ave_min_may %>
  </div>
  <div class="field">
    <%= f.label :ave_max_june %>*<br>
    <%= f.text_field :ave_max_june %>
  </div>
  <div class="field">
    <%= f.label :ave_min_june %>*<br>
    <%= f.text_field :ave_min_june %>
  </div>
  <div class="field">
    <%= f.label :ave_max_july %>*<br>
    <%= f.text_field :ave_max_july %>
  </div>
  <div class="field">
    <%= f.label :ave_min_july %>*<br>
    <%= f.text_field :ave_min_july %>
  </div>
  <div class="field">
    <%= f.label :ave_max_aug %>*<br>
    <%= f.text_field :ave_max_aug %>
  </div>
  <div class="field">
    <%= f.label :ave_min_aug %>*<br>
    <%= f.text_field :ave_min_aug %>
  </div>
  <div class="field">
    <%= f.label :ave_max_sept %>*<br>
    <%= f.text_field :ave_max_sept %>
  </div>
  <div class="field">
    <%= f.label :ave_min_sept %>*<br>
    <%= f.text_field :ave_min_sept %>
  </div>
  <div class="field">
    <%= f.label :ave_max_oct %>*<br>
    <%= f.text_field :ave_max_oct %>
  </div>
  <div class="field">
    <%= f.label :ave_min_oct %>*<br>
    <%= f.text_field :ave_min_oct %>
  </div>
  <div class="field">
    <%= f.label :ave_max_nov %>*<br>
    <%= f.text_field :ave_max_nov %>
  </div>
  <div class="field">
    <%= f.label :ave_min_nov %>*<br>
    <%= f.text_field :ave_min_nov %>
  </div>
  <div class="field">
    <%= f.label :ave_max_dec %>*<br>
    <%= f.text_field :ave_max_dec %>
  </div>
  <div class="field">
    <%= f.label :ave_min_dec %>*<br>
    <%= f.text_field :ave_min_dec %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
