<p id="notice"><%= notice %></p>

<h1>Listing Stations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bom Station ID</th>
      <th>Region</th>
      <th>Ave max jan</th>
      <th>Ave min jan</th>
      <th>Ave max feb</th>
      <th>Ave min feb</th>
      <th>Ave max mar</th>
      <th>Ave min mar</th>
      <th>Ave max apr</th>
      <th>Ave min apr</th>
      <th>Ave max may</th>
      <th>Ave min may</th>
      <th>Ave max june</th>
      <th>Ave min june</th>
      <th>Ave max july</th>
      <th>Ave min july</th>
      <th>Ave max aug</th>
      <th>Ave min aug</th>
      <th>Ave max sept</th>
      <th>Ave min sept</th>
      <th>Ave max oct</th>
      <th>Ave min oct</th>
      <th>Ave max nov</th>
      <th>Ave min nov</th>
      <th>Ave max dec</th>
      <th>Ave min dec</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= station.name %></td>
        <td><%= station.station_bom_id %></td>
        <td><%= station.region %></td>
        <td><%= station.ave_max_jan %></td>
        <td><%= station.ave_min_jan %></td>
        <td><%= station.ave_max_feb %></td>
        <td><%= station.ave_min_feb %></td>
        <td><%= station.ave_max_mar %></td>
        <td><%= station.ave_min_mar %></td>
        <td><%= station.ave_max_apr %></td>
        <td><%= station.ave_min_apr %></td>
        <td><%= station.ave_max_may %></td>
        <td><%= station.ave_min_may %></td>
        <td><%= station.ave_max_june %></td>
        <td><%= station.ave_min_june %></td>
        <td><%= station.ave_max_july %></td>
        <td><%= station.ave_min_july %></td>
        <td><%= station.ave_max_aug %></td>
        <td><%= station.ave_min_aug %></td>
        <td><%= station.ave_max_sept %></td>
        <td><%= station.ave_min_sept %></td>
        <td><%= station.ave_max_oct %></td>
        <td><%= station.ave_min_oct %></td>
        <td><%= station.ave_max_nov %></td>
        <td><%= station.ave_min_nov %></td>
        <td><%= station.ave_max_dec %></td>
        <td><%= station.ave_min_dec %></td>
        <td><%= link_to 'Show', station %></td>
        <td><%= link_to 'Edit', edit_station_path(station) %></td>
        <td><%= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Station', new_station_path %>
