<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @station.name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @station.region %>
</p>

<p>
  <strong>Bom Station ID:</strong>
  <%= @station.station_bom_id %>
</p>

<p>
  <strong>Ave max jan:</strong>
  <%= @station.ave_max_jan %>
</p>

<p>
  <strong>Ave min jan:</strong>
  <%= @station.ave_min_jan %>
</p>

<p>
  <strong>Ave max feb:</strong>
  <%= @station.ave_max_feb %>
</p>

<p>
  <strong>Ave min feb:</strong>
  <%= @station.ave_min_feb %>
</p>

<p>
  <strong>Ave max mar:</strong>
  <%= @station.ave_max_mar %>
</p>

<p>
  <strong>Ave min mar:</strong>
  <%= @station.ave_min_mar %>
</p>

<p>
  <strong>Ave max apr:</strong>
  <%= @station.ave_max_apr %>
</p>

<p>
  <strong>Ave min apr:</strong>
  <%= @station.ave_min_apr %>
</p>

<p>
  <strong>Ave max may:</strong>
  <%= @station.ave_max_may %>
</p>

<p>
  <strong>Ave min may:</strong>
  <%= @station.ave_min_may %>
</p>

<p>
  <strong>Ave max june:</strong>
  <%= @station.ave_max_june %>
</p>

<p>
  <strong>Ave min june:</strong>
  <%= @station.ave_min_june %>
</p>

<p>
  <strong>Ave max july:</strong>
  <%= @station.ave_max_july %>
</p>

<p>
  <strong>Ave min july:</strong>
  <%= @station.ave_min_july %>
</p>

<p>
  <strong>Ave max aug:</strong>
  <%= @station.ave_max_aug %>
</p>

<p>
  <strong>Ave min aug:</strong>
  <%= @station.ave_min_aug %>
</p>

<p>
  <strong>Ave max sept:</strong>
  <%= @station.ave_max_sept %>
</p>

<p>
  <strong>Ave min sept:</strong>
  <%= @station.ave_min_sept %>
</p>

<p>
  <strong>Ave max oct:</strong>
  <%= @station.ave_max_oct %>
</p>

<p>
  <strong>Ave min oct:</strong>
  <%= @station.ave_min_oct %>
</p>

<p>
  <strong>Ave max nov:</strong>
  <%= @station.ave_max_nov %>
</p>

<p>
  <strong>Ave min nov:</strong>
  <%= @station.ave_min_nov %>
</p>

<p>
  <strong>Ave max dec:</strong>
  <%= @station.ave_max_dec %>
</p>

<p>
  <strong>Ave min dec:</strong>
  <%= @station.ave_min_dec %>
</p>
<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>
