<%= form_for([@rule, @rule_advice]) do |f| %>
  <% if @rule_advice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule_advice.errors.count, "error") %> prohibited this rule_advice from being saved:</h2>

      <ul>
      <% @rule_advice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br>
    <%= f.collection_radio_buttons(:value, @rule_advice.advice.choices, :content, :content) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
