<p id="notice"><%= notice %></p>

<h1>Choices of Each Advice</h1>

<table>
  <thead>
    <tr>
      <th>Advice</th>
      <th>Value</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @rule_advices.each do |rule_advice| %>
      <tr>
        <td><%= rule_advice.advice.question %></td>
        <td><%= rule_advice.value %></td>
        <td><%= link_to 'Change Value', edit_rule_rule_advice_path(rule_advice.rule, rule_advice) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

