<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @rule_advice.value %>
</p>

<%= link_to 'Edit', edit_rule_advice_path(@rule_advice) %> |
<%= link_to 'Back', rule_advices_path %>
