<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @choice.content %>
</p>

<p>
  <strong>Message:</strong>
  <%= @choice.message %>
</p>

<p>
  <strong>Advice:</strong>
  <%= @choice.advice_id %>
</p>

<%= link_to 'Edit', edit_choice_path(@choice) %> |
<%= link_to 'Back', choices_path %>
