<%= form_for(@weather_event) do |f| %>
  <% if @weather_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weather_event.errors.count, "error") %> prohibited this weather_event from being saved:</h2>

      <ul>
      <% @weather_event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_start %><br>
    <%= f.datetime_select :time_start %>
  </div>
  <div class="field">
    <%= f.label :time_end %><br>
    <%= f.datetime_select :time_end %>
  </div>
  <div class="field">
    <%= f.label :time_created %><br>
    <%= f.datetime_select :time_created %>
  </div>
  <div class="field">
    <%= f.label :time_modified %><br>
    <%= f.datetime_select :time_modified %>
  </div>
  <div class="field">
    <%= f.label :rule_id %><br>
    <%= f.text_field :rule_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
