<p id="notice"><%= notice %></p>

<h1>Listing Weather Events</h1>

<table>
  <thead>
    <tr>
      <th>Time start</th>
      <th>Time end</th>
      <th>Time created</th>
      <th>Time modified</th>
      <th>Rule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weather_events.each do |weather_event| %>
      <tr>
        <td><%= weather_event.time_start %></td>
        <td><%= weather_event.time_end %></td>
        <td><%= weather_event.time_created %></td>
        <td><%= weather_event.time_modified %></td>
        <td><%= weather_event.rule %></td>
        <td><%= link_to 'Show', weather_event %></td>
        <td><%= link_to 'Edit', edit_weather_event_path(weather_event) %></td>
        <td><%= link_to 'Destroy', weather_event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weather event', new_weather_event_path %>
