<p id="notice"><%= notice %></p>

<p>
  <strong>Time start:</strong>
  <%= @weather_event.time_start %>
</p>

<p>
  <strong>Time end:</strong>
  <%= @weather_event.time_end %>
</p>

<p>
  <strong>Time created:</strong>
  <%= @weather_event.time_created %>
</p>

<p>
  <strong>Time modified:</strong>
  <%= @weather_event.time_modified %>
</p>

<p>
  <strong>Rule:</strong>
  <%= @weather_event.rule %>
</p>

<%= link_to 'Edit', edit_weather_event_path(@weather_event) %> |
<%= link_to 'Back', weather_events_path %>
