<% provide(:title, "Edit user") %>

<h1>Update your profile</h1>

<div class="row">

    <%= form_for(@user) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :firstname %><br />
        <%= f.text_field :firstname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :lastname %><br />
        <%= f.text_field :lastname, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :phone_number %><br />
        <%= f.text_field :phone_number, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :is_subscribed %><br />
        <%= f.check_box :is_subscribed %>
      </div>
      <div class="field">
        <%= f.label :station_id %><br />
        <%= f.collection_select(:station_id, Station.order('name ASC'), :id, :name, {prompt: true}) %>
      </div>


      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
    
</div>