<p id="notice"><%= notice %></p>

<% provide(:title, 'All Users') %>
<table>
  <thead>
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>PhoneNumber</th>
      <th>Is Subscribed</th>
      <th>Station</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%if @users == nil -%>
      <tr>no users</tr>
    <%else-%>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.firstname %></td>
          <td><%= user.lastname %></td>
          <td><%= user.email %></td>
          <td><%= user.phone_number %></td>
          <td><%= user.is_subscribed %></td>
          <td><%= user.station_id %></td>
          <td><%= link_to 'Edit', edit_user_path(user.id) %></td>
        </tr>
      <% end -%>
    <% end -%>
  </tbody>
</table>

