<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @user.phone_number %>
</p>

<p>
	<strong>Is Subscribed:</strong>
	<%= @user.is_subscribed %>
</p>

<p>
	<strong>Station:</strong>
	<%= @user.station_id %>
</p>
