<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @advice.description %>
</p>

<p>
  <strong>Question:</strong>
  <%= @advice.question %>
</p>

<h2>Listing Choices</h2>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Message</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @advice.choices.each do |choice| %>
      <tr>
        <td><%= choice.content %></td>
        <td><%= choice.message %></td>
        <td><%= link_to 'Destroy choice', [choice.advice, choice], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Add a choice:</h2>
<%= form_for([@advice, @advice.choices.build]) do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :message %><br>
    <%= f.text_field :message %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_advice_path(@advice) %> |
<%= link_to 'Back', advices_path %>
