/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* START_HIGHLIGHT */
#banner {
  background: #F0F0F0 ;
  padding: 0.7em;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: black;
  text-align: left;

  img {
    float: left;
  }

  form, div {
      display: inline;
      float: right;
      font-size: 0.6em;
  } 

}

#rows {
  background: white;

  #main {

    border-top: 1px solid;
    background: white;
  }

  #header {
    padding-bottom: 1em;
    padding-top: 1em;
    background: white;

    ul {
      display: inline;
      padding: 0;
      li {
        display: inline;
        margin: 1em;
      }
    }

  }
}

/* END_HIGHLIGHT */

table {
  border-top:    1px dotted black;
  border-bottom: 1px dotted black;
  margin-bottom: 10px;
}

table tr td {
  padding: 5px;
  vertical-align: top;
}
