<%= form_for(@rule) do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% @rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :higher_than_avg %><br>
    <%= f.text_field :higher_than_avg %>
  </div>
  <div class="field">
    <%= f.label :lower_than_avg %><br>
    <%= f.text_field :lower_than_avg %>
  </div>
  <div class="field">
    <%= f.label "Heat Related" %><br>
    <%= f.check_box :hot_or_cold %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.number_field :length %>
  </div>
  <div class="field">
    <%= f.label :tem_dif %><br>
    <%= f.text_field :tem_dif %>
  </div>
  <div class="field">
    <%= f.label :rule_type %><br>
    <%= f.select(:rule_type, ["Multi Day","One Day"], {prompt: true})  %>
  </div>
  <div class="field">
    <%= f.label :station_id %><br>
    <%= f.collection_select(:station_id, Station.order('name ASC'), :id, :name, {prompt: true}) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
