<p id="notice"><%= notice %></p>

<h1>Listing Rules</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Higher than avg</th>
      <th>Lower than avg</th>
      <th>Heat Related</th>
      <th>Length</th>
      <th>Tem Dif</th>
      <th>Rule type</th>
      <th>Station</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.description %></td>
        <td><%= rule.higher_than_avg %></td>
        <td><%= rule.lower_than_avg %></td>
        <td><%= rule.hot_or_cold %></td>
        <td><%= rule.length %></td>
        <td><%= rule.tem_dif %></td>
        <td><%= rule.rule_type %></td>
        <td><%= rule.station_id %></td>
        <td><%= link_to 'Edit Advices', rule_rule_advices_path(rule) %></td>
        <td><%= link_to 'Show', rule %></td>
        <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rule', new_rule_path %>




