<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @rule.description %>
</p>

<p>
  <strong>Higher than avg:</strong>
  <%= @rule.higher_than_avg %>
</p>

<p>
  <strong>Lower than avg:</strong>
  <%= @rule.lower_than_avg %>
</p>

<p>
  <strong>Heat Related:</strong>
  <%= @rule.hot_or_cold %>
</p>

<p>
  <strong>Lower than avg:</strong>
  <%= @rule.length %>
</p>

<p>
  <strong>Lower than avg:</strong>
  <%= @rule.tem_dif %>
</p>

<p>
  <strong>Lower than avg:</strong>
  <%= @rule.rule_type %>
</p>

<p>
  <strong>Station:</strong>
  <%= @rule.station_id %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
