
<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "HeatWave" %>
    <div id="logout">
      <% if user_signed_in? %>
        <%= button_to "Sign out", destroy_user_session_path, method: "delete", data: { confirm: 'Are you sure?' } %>
      <% elsif admin_signed_in? %>
        <%= button_to "Sign out", destroy_admin_session_path, method: "delete", data: { confirm: 'Are you sure?' } %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </div>
  
  <div id="rows">
    <div id="header">
      <ul>
        <li><%= link_to "Home", root_path %></li>
      </ul>

      <% if user_signed_in? %>
        <ul>
          <li><%= link_to "My Attributes", user_advices_path %></li>
          <li><%= link_to "Update User Profie", edit_user_registration_path %></li>
          <li><%= link_to "Feedback", new_feedback_path %></li>
        </ul>
      <% end %>

      <% if admin_signed_in? %>
        <ul>
          <li><%= link_to "Rules", rules_path %></li>
          <li><%= link_to "Advice", advices_path %></li>
          <li><%= link_to "Stations", stations_path %></li>
          <li><%= link_to "Messages", messages_path %></li>
          <li><%= link_to "All Users", users_path %></li>
          <li><%= link_to "Update Admin Profile", edit_admin_registration_path %></li>
          <li><%= link_to "Feedbacks", feedbacks_path %></li>
        </ul>
      <% end %>

      <ul>
        <li><a href="https://www.kildonan.org.au/">Kildonan</a></li>
        <li><a href="">Help</a></li>
        <li><a href="https://www.kildonan.org.au/contact-us/">Contact</a></li>
      </ul>

    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
